<header>
    <nav>
        <div><a href="router.php?objet=adherent">Les Adhérents</a></div>
        <div><a href="router.php?objet=auteur">Les Auteurs</a></div>
        <div><a href="router.php?objet=bd">Les BD</a></div>
        <div><a href="router.php?objet=categorie">Les Categories</a></div>
        <div><a href="router.php?objet=etat">Les Etats</a></div>
        <div><a href="router.php?objet=nationalite">Les Nationalitees</a></div>
        <div><a href="router.php?objet=serie">Les Series</a></div>
    </nav>
</header>